<h1>{{ title }}</h1>
<!-- <div id="a" class='card-header'>
 <a routerLink='/' style="color: blanchedalmond;">Library</a>
    <a routerLink='/add' style="color: blanchedalmond;">Add Books</a>
    <a routerLink='/login' style="color: blanchedalmond;">Login</a>
</div> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink='/'>Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink='/login' >Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink='/signup'>Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink='/add'>Add Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" *ngIf="_auth.loggedIn()" (click)="logoutUser()" >Log Out</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>

  <!-- <header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"> Home</a>
      <a href="/" class="navbar-brand">Cat</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
        <li>
          <a href="#">Category</a>
        </li>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header> -->